body{
    background-color: white;
}
.navbar-brand {
    color:#fff;
    margin:0 20px; 
    margin-top:30px;
}
.navbar-brand:hover{
    color: #fff;
    font-weight: 600;
    margin-bottom: -1px;
}
.jumbotron{
    background-image: url('../images/paul-zoetemeijer-ekBOf6sJYYo-unsplash.jpg');
    height: 88vh;
    background-size: cover;
    background-position:center;
    border-radius: 0px!important;
}
.info-section{
    color:white;
    text-align: left;
}